@charset "utf-8";
@import "../../foundation/f-variables";

.p-event {
  padding: 60px 0;
  border-top: 10px solid #b5b5b5;
}

.p-event_title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: .08em;
  text-align: center;
  margin: 0;

  @include sp {
    font-size: 10vw;
  }
}

.p-event_subtitle {
  font-size: 28px;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;

  @include sp {
    font-size: 5vw;
  }
}

.p-event_box {
  padding: 60px 0;

  @include sp {
    padding: 6vw 0;
  }
}

.p-event_address {
  font-size: 23px;
  font-weight: 500;
  line-height: 1.3;
  padding: 1% 0;
  text-align: center;

  @include sp {
    font-size: 3.6vw;
    padding: 3% 0;
  }
}