@charset "utf-8";
@import "../../foundation/f-variables";

.p-flyer {
  padding: 5% 0;
  background-color: #fff;
  box-sizing: border-box;
}

.p-flyer_inner {
  width: 78%;
  max-width: 150rem;
  margin: 0 auto;
  box-sizing: border-box;

  @include sp {
    width: 100%;
    padding: 0 2rem;
  }
}

.p-flyer_img {
  img {
    width: 100%;
    height: auto;
  }
}